.fancy {
    position: relative;
    background-color: #FFC;
    padding: 2rem;
    text-align: center;
    max-width: 400px;
}
  
.fancy::before {
    content: "";
  
    position : absolute;
    z-index  : -1;
    bottom   : 15px;
    right    : 5px;
    width    : 50%;
    top      : 80%;
    max-width: 400px;
  
    box-shadow: 0px 13px 10px black;
    transform: rotate(4deg);
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inset h2 {
    color: #444444;
    /* text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc; */
}

/* Style the select element */
#sensor_list {
    width: 500px; /* Set the width */
    height: 200px; /* Set the height */
    font-size: 16px; /* Set the font size */
    border-radius: 5px; /* Add rounded corners */
}
  
/* Style the options */
#sensor_list option {
    padding: 5px; /* Add padding to options */
}
  
/* Style the hover effect on options */
#sensor_list option:hover {
    background-color: #e0e0e0; /* Change background color on hover */
}